.faq{

    background-image: url("https://static.hsappstatic.net/pricing-pages-unified-ui/static-1.13808/js/img/bottom-blob.svg");
    background-size: 65% 53%;
    background-repeat: no-repeat;
    background-position-x: center;

}