.navbar1_main-div{
    width:100%;
    /* border: 1px solid black; */
    height: 50px;
    background-color: black;
    display: flex;
    position: fixed;
    top:0;
}
.arrodown1{
    margin-top: 4px;
}
.navbar1_main_icons{
    font-size: 20px;
    margin-left: 10px;
    
}
.navbar1_main-div>div{
    margin-top: 1%;
    font-size: 12px;
}
.navbar1_main-div>div:hover{
    text-decoration: underline;
    color: #00a9b7;
}
.navbar1_main-div>div:nth-child(1){
    margin-left: 10%;
    margin-right: 5px;
   
}
.navbar1_main-div>div:nth-child(2){
  
    margin-right: 2%;
}
.navbar1_main-div>div:nth-child(4){
  
    margin-left: 5px;
    margin-right: 40%;
}

.navbar1_main-div>div:nth-child(5){
  
   color: #00a9b7;
    margin-right: 2%;
}
.navbar1_main-div>div:nth-child(6){
  
   
    margin-right: 2%;
}
.navbar1_main-div>div:nth-child(7){
  
   
    margin-right: 2%;
}
.navbar1_main-div>div:nth-child(8){
  
   
    margin-right: 2%;
}

.navbar1_main_links{
    text-decoration: none;
    color: black;
}

.navbar1_main_links:hover{
    text-decoration: underline;
    color: #00a9b7;
}
.navbar1_langauge{
display: flex;
}